<div class="main-wrap">
  <div class="wrapper ">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title "><b>Project Listing</b></h4>
              <%= link_to new_project_path, class: 'btn btn-primary btn-sm float-right' do %>
                <i class="fa fa-plus left" aria-hidden="true"></i><span>Project</span>
              <% end %>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <% if @projects.present? %>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @projects.each do |project| %>
                        <% index = 0 %>
                        <tr>
                          <td scope="row"><%= index += 1 %></td>
                          <td scope="row"><%= project.name %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
