/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require material/material-dashboard.css
 *= require material/demo.css
 */
 /* import bootstrap-sprockets before bootstrap if using bootstrap >= 3.2 */
 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 @import 'bootstrap-datetimepicker';

.upload-image{
  position: relative;
  margin-bottom: 2rem;
}
.upload-image .btn-close{
  position: absolute;
  top: -8px;
  padding: 0;
  margin: 0;
  font-size: 22px;
  right: 5px;
  color: red;
  line-height: 0;
  background: #fff;
  border-radius: 50%;
}

.uploadedImages{display: flex; flex-wrap: wrap;}
.uploadedImages .upload-image{margin: 15px; position: relative; border: 1px solid #e8e8e8}
.uploadedImages .upload-image img{height: 80px; width: 130px; overflow: hidden; object-fit: cover;}
.uploadedImages .upload-image .btn-close{top:-5px; right: -5px}

@media all and (max-width: 991px) {
  .uploadedImages .upload-image img {width: 120px;}
}

.alert .alert-heading{
  margin-bottom: 15px;
  text-align: left;
  font-size: 18px;
  color: inherit
}
.alert ul{
  padding-left:15px
}
